<!DOCTYPE html>
<html lang="de">
	<head>
        <%- include ("../partials/head.ejs") %>
        <script src="../../static/accordion.js" defer></script>
        <style>
            @import url('../../static/css/layouts/faqs.css');
        </style>
	</head>
	<body>
        <div id="preisrechner-hook"></div>
		<div class="wrapper">
			<header><%- include ("../partials/header.ejs") %></header>
			<section class="faqs">
                <h1>FAQs</h1>
                <% data.forEach(item => { %>
                    <button class="accordion"><%= item.question %></button>
                    <div class="panel"><p><%= item.answer %></p></div>
                    <% }) %>
			</section>
			<footer><%- include ("../partials/footer.ejs") %></footer>
		</div>
	</body>
</html>