<!DOCTYPE html>
<html lang="de">
	<head>
    <%- include ("../partials/head.ejs", {nonce: nonce}) %>
    <meta name="keywords" content="<%= meta_keywords %>">
    <meta name="description" content="<%= meta_description %>">
    <!-- HEAD END -->
	</head>
	<div id="preisrechner-hook"></div>
	<body>
    <!-- BODY START -->
    <script nonce='<%= nonce %>' src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
    <script nonce='<%= nonce %>' src="../../static/swiperJS/swiper.js"></script>
		<div class="wrapper">
			<header><%- include ("../partials/header.ejs") %></header>
			<section class="text">
        <h1><%- headline %></h1>
				<h2><%- subheadline %></h2>
				<p class="main-text-area"><%- copytext %></p>
				<button id="btn-leistungen" class="btn outline">LEISTUNGEN</button>
				<button id="btn-open-calculator" class="btn red">PREISRECHNER</button>
			</section>
			<section class="picture index">
        <!-- <img id="photo-wackwitz" src="../../static/images/ruediger.webp"" alt="Foto Ruediger Wackwitz" /> -->
        <picture id="photo-wackwitz">
          <source srcset="../../static/images/rw.webp" type="image/webp">
          <source srcset="../../static/images/rw.png" type="image/png">
          <img id="photo-wackwitz" src="../../static/images/rw.png" alt="Foto Ruediger Wackwitz">
        </picture>
      </section>
			<section id="cards" class="cards">
        <div class="container-headlines">
          <h1 id="h1-leistungen">Leistungen</h1>
          <h2>Sie brauchen's, wir können's.</h2>
        </div>
        <div class="container-slider">
          <div class="slider-loader" style="display: block">
            <div class="lds-ripple">
              <div></div>
              <div></div>
            </div>
          </div>
          <div class="wrapper-slider" style="display: none">
            <!-- Slider main container -->
            <div class="swiper">
              <!-- Additional required wrapper -->
              <div class="swiper-wrapper">
                <% cards.forEach(card=> { %>
                  <div class="swiper-slide">
                    <div class="card-wrapper">
                      <a class="card-a" href=<%=card.slug %>>
                        <div class="card grow">
                          <div class="card-header">
                            <%= card.title %>
                          </div>
                          <h1 class="cardheadline">
                            <%= card.headline %>
                          </h1>
                          <p class="cardcopy">
                            <%= card.teasertext %>
                          </p>
                          <div class="btn outline card">MEHR</div>
                        </div>
                      </a>
                    </div>
                  </div>
                  <% }) %>
              </div>
              <!-- If we need pagination -->
            </div>
            <div class="swiper-pagination"></div>
            <div class="wrapper-slider-nav">
              <div class="my-prev">
                <img width=24 height=75 src="../../static/images/icon_slider_prev.svg" alt="">
              </div>
              <div class="my-next">
                <img width=24 height=75 src="../../static/images/icon_slider_next.svg" alt="">
              </div>
            </div>
          </div>
        </div>
			</section>
      <footer><%- include ("../partials/footer.ejs") %></footer>
      <div class="gradient"></div>
		</div>
	</body>
</html>
