<!DOCTYPE html>
<html lang="de">
	<head>
        <%- include ("../partials/head.ejs") %>
        <style>
            @import url('../../static/css/layouts/impressum.css');
        </style>
        <link rel="stylesheet" href="../../static/svelte/contactform.css">
        <script nonce='<%= nonce %>' src="../../static/svelte/contactform.js" defer></script>
	</head>
	<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-M54J87M" height="0" width="0"
        style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <div id="preisrechner-hook"></div>
		<div class="wrapper">
			<header><%- include ("../partials/header.ejs") %></header>
			<section class="imprint">
                <h1><%- title %></h1>
                <h2><%- subhead %></h2>
                <%- copytext %>
                <div style='min-height: 500px' id="contactform-hook"></div>
			</section>
			<footer><%- include ("../partials/footer.ejs") %></footer>
		</div>
	</body>
</html>